.task-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.2em;
}

.task-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.check-container{
  display: flex;
  flex-direction: row;
  padding-left: 6px;
}

.subtask-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.subtask-container{
  width: 100%;
}