.input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #A9A9A9;
  margin-left: 1em;
}

.input:focus {
  border-width: 0 0 2px;
  border-color: #A8A8A8;
}

.input-form-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  minHeight: 50px;
}