.layout {
  text-align: center;
  background-image: linear-gradient(#FF2400, grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-btn {
  background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  color: white;
  position: absolute;
  left: 0;
}

.top-bar{
  flex: 0.7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container{
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  width: 90%;
  padding: 1em;
  flex: 10;
  display: flex;
  justify-content: flex-start;
}

.bottom-bar{
  flex: 0.7;
}
