.layout {
  text-align: center;
  background-image: linear-gradient(#FF2400, grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-btn {
  background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  color: white;
}

.top-bar{
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.container{
  align-self: center;
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  width: 90%;
  padding: 1em;
  flex: 10;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 0;
  flex-basis: 0;
}

.container-item{
  display: flex;
  flex-direction: column;
}

.container-item-list{
  overflow-y: auto;
}

.container-item-list::-webkit-scrollbar {
  width: 0.2em;
}
 
.container-item-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
 
.container-item-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.bottom-bar{
  flex: 0.7;
}
